.terminal {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: lavenderblush;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 20px;
    margin: 0;
    overflow-y: auto;
    box-sizing: border-box;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.commandBody {
    padding-top: 20px;
    white-space: pre-wrap;
}

.prompt {
    color: #bf00ff;
    font-weight: bold;
}

.input {
    background: none;
    color: lavenderblush;
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.input:focus {
    outline: none;
}
